body {
    background-color: rgb(48, 51, 46);
    overflow-x: hidden;
    left: 0;
}


@font-face {
    font-family:'FRADMCN';
    src: url('FRADMCN.woff') format('woff');
}

@font-face {
    font-family:'FREIGHTSEMIBOLD';
    src: url('FONNTS.COM-FREIGHT-TEXT-PRO-SEMIBOLD-.woff') format('woff');
}

@font-face {
    font-family: 'FREIGHTMEDITALIC';
    src: url(FONNTS.COM-FREIGHT-TEXT-PRO-MEDIUM.woff);
}

@font-face {
    font-family: 'UBUNTU';
    src: url(UbuntuMono-R.woff);
}

div.title {
    font-family: 'FRADMCN';
    font-size: 30px;
    letter-spacing: -0.04em;
    position: sticky;
    top: 0px;
    width: calc(100% + 8px);
    margin-left: -8px;
    margin-top: -10px;
    background-color: rgb(48, 51, 46);
    z-index: 999;
}

.whitebackground {
    background-color: rgb(239, 243, 235);
    width: calc(100% + 24px);
    margin-left: -8px;
    margin-right:-8px;
    margin-bottom: -8px;
}

.textblack {
    color:black;
}

div.subtitle {
    font-family: 'FRADMCN';
    font-size: 150px;
    letter-spacing: -0.03em;
}

div.body {
    font-family: 'FREIGHTSEMIBOLD';
    font-size: 27px;
}

div.quote {
    font-family: 'FREIGHTMEDITALIC';
    font-size: 50px;
}

div.quotelarger {
    font-family: 'FREIGHTMEDITALIC';
    font-size: 70px;
}

div.caption {
    font-family: 'UBUNTU';
    font-size:20px;
}

div.margintop10 {
    margin-top: 10px;
}

div.margintop30 {
    margin-top: 30px;
}

div.margintop50 {
    margin-top: 50px;
}

div.marginbottom30 {
    margin-bottom: 30px;
}

div.paddingbottom15 {
    padding-bottom: 15px;
}

div.paddingtop15 {
    padding-top: 15px;
}

div.margintop100 {
    margin-top: 100px;
}

div.margintop200 {
    margin-top: 200px;
}

div.marginbottom10 {
    margin-bottom: 10px;
}

div.marginbottom100 {
    margin-bottom: 100px;
}

div.marginbottom200 {
    margin-bottom: 200px;
}

div.bottomline {
    border-bottom: 5px solid rgb(239, 243, 235);
    padding: 5px;
    width: calc(100% + 8px);
    margin-left: -8px;
}


div.toplinewhite {
    border-top: 5px solid rgb(239, 243, 235);
    padding: 5px;
    width: calc(100% + 8px);
    margin-left: -8px;
}

div.topline {
    border-top: 5px solid black;
    padding: 5px;
    width: calc(100% + 8px);
    margin-left: -8px;
}

div.bottomlineblack {
    border-bottom: 5px solid black;
    padding: 5px;
    width: calc(100% + 8px);
    margin-left: -8px;
}

.textwhite {
    color: rgb(239, 243, 235);
}

span.textpink {
    color: rgb(164, 74, 63);
}

div.bgwhite {
    background-color: rgb(239, 243, 235);;
}


div.centered {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

div.rightalign {
    justify-content: flex-end;
}

div.rightaligntext {
    text-align: right;
}

div.width100 {
    width: 100%;
}

div.width66 {
    width: 66%;
}

div.width50 {
    width: 50%;
}

div.width33 {
    width: 33%;
}

div.width40 {
    width: 40%;
}

div.width60 {
    width: 60%;
}

div.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

span.stat {
    font-family: 'FRADMCN';
    color: rgb(239, 243, 235);
    font-size: 200px;
    letter-spacing: -0.04em;
}

div.twocolumns {
  display: flex;
  align-items: stretch;
  gap: 30px;

}

section.textcol {
    width: 66%;
    min-width: 0;
}

section.imagecol {
    width: 33%;
    position: relative;
}

@keyframes animblur {
    0%   {
        filter: blur(100px);
        -webkit-filter: blur(100px);
    }

    50% {
        filter: blur(75px);
        -webkit-filter: blur(75px);
    }

    100% {
        filter: blur(100px);
        -webkit-filter: blur(100px);
    }
}

@keyframes animinv {
    0%, 54.9%, 55.1%, 94.9%, 95.1%, 100%   {
        filter: invert(0%);
        -webkit-filter: invert(0%);
    }

    55%, 95%   {
        filter: invert(100%);
        -webkit-filter: invert(100%);
    }

}

section.imagecol img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  animation: animblur 5s linear infinite;

}



div.stick {
  position: sticky;
  top: 300px;
  display: block;
}

div.stickbottom {
  position: sticky;
  top: 75vh;
  display: block;
}

.fullpage img {
    width: calc(100% + 24px);
    margin-left: -8px;
    margin-right: -8px;
    max-width: calc(100% + 24px);
    min-width: calc(100% + 24px);
    height: auto;
    animation: animinv 10s linear infinite;
}

.flexing img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
        